<section class="login">
    <img src="user_icon.png" alt="user_icon">

    <form (ngSubmit)="loginUsuario()" #dataForm="ngForm">
        <span class="titulo">
            SigeX - Login
        </span>
    
        <span class="slogan">
            Sistema Integrado de Gestão Empresarial
        </span>
    
        <label for="NM_ENTIDADE">
            Entidade:
        </label>
    
        <input
        type="text"
        name="NM_ENTIDADE"
        id="NM_ENTIDADE"
        [(ngModel)]="dataRow.NM_ENTIDADE"
        disabled
        >
    
        <label for="CD_USUARIO">
            Usuário:
        </label>
    
        <input
        type="text"
        name="CD_USUARIO"
        id="CD_USUARIO"
        [(ngModel)]="dataRow.CD_USUARIO"
        maxlength="25"
        required
        >
    
        <label for="HS_SENHA">
            Senha:
        </label>
    
        <input
        type="password"
        name="HS_SENHA"
        id="HS_SENHA"
        [(ngModel)]="dataRow.HS_SENHA"
        maxlength="25"
        required
        >
    
        <button
        type="submit"
        [disabled]="dataForm.invalid"
        >
            Login
        </button>
    </form>
</section>

<div class="loading" *ngIf="loading">
    <img src="spinner_icon.png" alt="spinner_icon">
</div>

<dialog #aviso class="aviso">
    <img src="alert_icon.png" alt="alert_icon">

    <div class="aviso">
        <span class="aviso">
            {{ mensagem }}
        </span>
    
        <button class="aviso" (click)="fecharAviso()">
            Confirmar
        </button>
    </div>
</dialog>